.head{
    text-align:center;
}
.text-head>h1{
    line-height: 0.1;
    color: #8dcf24;
    font-size: 5em;
}
.text-head{
    margin-top: 2%;
}
.head{
    padding-top: 3%;
    padding-bottom: 4%;
}
.text-head>p{
    color:white;
}
.full-container{
    background: url('./app/container/home/images/back.jpg');
    background-size: 100% 100%;
    padding-top: 2%;
}
.head>p{
        color:white;
        
}
.sign-grid{
    text-align: center;
    padding: 2%;
    color:white;
}
.sign-grid>img{
    margin-bottom: 6%;
}
.icons{
    color: white;
    text-align: center;
}
.icons>h3{
    color: #8dcf24;
}
.fa{
    background: #113861;
    font-size: 24px;
    border-radius: 50%;
    padding: 7px;
    margin:1%;
}
.section{
    margin-bottom: 0%;
}
.left-section{
    padding-top: 6%;
}
.unorder{
    display: -webkit-inline-box;
}
.footer{
    color: white;
   background: -webkit-linear-gradient(#00253f, #004d88 , #00253f);
    margin-top: 3%;
    padding-top: 1%;
    padding-left: 3%;
    font-size: 1em;
}
.unorder>li{
    list-style:none;
    margin-right: 20%;
}
.footer-right{
    padding-left: 10% !important;
}
.login{
    color:black;
    background: white;
    padding: 2% 2% 2% 2%;
    text-align: center;
    border-radius:25px;
}
.sections{
    margin-right: 5%;
}


@media screen and (min-width:320px) and (max-width:600px){
    .text-head>h1{
    line-height: 1;
}
}
@media screen and (min-width:1000px) and (max-width:1800px){
.containers{
    width:90%;
    margin: 0 auto;
}
}
@media screen and (min-width:320px) and (max-width:1000px){
.containers{
    width:95%;
    margin: 0 auto;
}
}

@font-face {
font-family: HomeHeader;
src: url(./app/container/home/fonts/fonts.ttf);
}
@font-face {
font-family: HomeHeader1;
src: url(./app/container/home/fonts/Montserrat-Regular.ttf);
}


h1{
font-family:HomeHeader;
}
.res{
  font-family:HomeHeader;
  font-size:2em;  
}
.res1{
    font-size: 1em;
    font-family:HomeHeader1;
    line-height: 1.5em; 
}
.text-head>p{
    font-family:HomeHeader;
    font-size:2.5em;
}
.ress{
    font-family:HomeHeader;
    font-size:2.5em;
}
.footer{
    font-family:HomeHeader1;
}