<div class="ui-grid-row">
    <div class="ui-grid-col-12 heading">
        <h2>SIGN IN</h2>
        <div class="ui-grid-row">
            <div class="ui-grid-col-12 fb mont">
               <button pButton type="button" label="Ingresa con Facebook" ></button> 
            </div>
        </div>
        <p class="or mont">OR</p>
        <div class="ui-grid-col-12 email mont">
            <input type="text" pInputText placeholder="Email"/>
        </div>
         <div class="ui-grid-col-12 contact mont">
            <input type="text" pInputText placeholder="Contrasena"/>
        </div>
        <div class="ui-grid-col-12 login mont">
             <button pButton type="button" label="INGRESAR" (click)="login()"></button>
        </div>
        <div class="ui-grid-row ent">
            <div class="ui-grid-col-6 ele mont">
               <p>¿Olvidaste tu clave?</p>
            </div>
            <div class="ui-grid-col-6 una mont">
                <a [routerLink]="['/home', 'signup']"> <p>Crea una cuenta</p></a>
            </div>
        </div>
   </div>
</div>
