<div style="text-align: center;margin: 50px;">
    <div>
        <input type="input" placeholder="User" class="iput" [(ngModel)]="userKey.user">
    </div>
    <div>
        <input type="input" placeholder="key" class="iput" [(ngModel)]="userKey.key">
    </div>
    <div>
        <input type="button" value="Submit" (click)=verifyKey() style="padding: 8px;
    padding-left: 50px;padding-right: 50px;color: white; background-color: #536f86;
    border: 2px solid; border-color: #3F51B5; border-radius: 26px;" />
    </div>
</div>
<div *ngIf="aToken !=null && aToken !=undefined" style="text-align: center;margin: 50px;">
    <div>
        <input type="text" value={{aToken}} class="in" />
        <input type="text" value={{uid}} class="in" />
        <input type="text" required [(ngModel)]="newPass" class="in" placeholder="New pasword here" />
    </div>
    <input type="button" (click)=setPassword() value="update" style="margin-top: 20px;" />
</div>