<!--<h1>Forgot Password</h1>-->

<div class="ui-grid-row reset_heading">
    <div class="ui-grid-col-12">
        <h1>¿Olvidaste tu clave?</h1>
    </div>
</div>
<div *ngIf="show_email_field">
    <div class="ui-grid-row top">
        <div class="ui-grid-col-12">
            <strong>Le enviaremos un enlace para restablecer tu contraseña.</strong>
        </div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-12 email">
            <input type="text" pInputText placeholder="Escribe Email" #email/>
        </div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-12 reset">
            <button pButton type="button" label="REAJUSTAR" (click)="resetPassword(email.value)"></button>
        </div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-8 ya">
            <p>Ya tlenes una cuenta?</p>
        </div>
        <div class="ui-grid-col-4 unas">
            <a [routerLink]="['/home', 'login']" style="color:#8DCF25; text-decoration: none;"><p>Sign In!</p></a>
        </div>
    </div>
</div>
<div *ngIf="show_email_field">
    <div class="ui-grid-row top">
        <div class="ui-grid-col-12">
            <strong>Hemos enviado un enlace de restablecer contraseña a tu cuenta de correo electrónico.</strong>
        </div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-12 unas">
            <a [routerLink]="['/reset-password-token']" style="color:#8DCF25; text-decoration: none;"><p>Get Token</p></a>
        </div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-12">
            <a [routerLink]="['/home', 'login']" style="color:#8DCF25; text-decoration: none;"><p>Sign In!</p></a>
        </div>
    </div>
</div>